body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.top {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 300px;
}

.header h2 {
    font-size: 24px;
    color: #f9faf8;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 300px 200px 300px;
    gap: 50px;
}

.main h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.main p {
    font-size: 18px;
    color: #e5e7eb;
}

.main button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 600;
    border: #3882f6;
    border-radius: 5px;
    padding: 5px 30px;
}

.info h2 {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote :nth-child(1) {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote :nth-child(2) {
    font-size: 20px;
    font-weight: bolder;
}

.pop-up {
    background-color: #3882f6;
}

.pop-up h2 {
    color: white;
}

.pop-up p {
    color: #e5e7eb;
}

.pop-up button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 600;
    border: solid 2px white;
    border-radius: 5px;
    padding: 5px 30px;
}

.footer {
    background-color: #1f2937;
}

.footer p{
    font-size: 18px;
    color: #e5e7eb;
}